/*
 * ICON
 * Icon styling
 */

.#{$ns}icon {
    display: inline-block;
    vertical-align: baseline;
    fill: $color_icons;
    height: $icon_size;
    width: $icon_size;

    &, &--lg {
        width: 1rem;
        height: 1rem;
    }

    &--md {
        width: .85rem;
        height: .85rem;
    }

    &--sm {
        width:.65rem;
        height: .65rem;
    }
    

    &__icon {
        display: inherit;
        align-self: center;
        pointer-events: none;
        flex-shrink: 0;
    }

    &__icon--start {
        margin-right: rem(16px);
    }

    &__icon--end {
        margin-left: rem(16px);
    }
}