{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}

{% block body %}
	<!-- html goes here -->


	{% include 'layouts/nav.twig' %}

	<header>
		<div class="hc-container">
			<h1 class="hc-h1">Grid</h1>
		</div>
	</header>


    <section>
		<div class="hc-container text-align-center">

            <div class="row mb-4">
                <div class="col-12">
                    <div class="color_background-table-header py-3">
                        <p class="font-size--tiny">--breakpoints</p>
                        <p><strong>xxs</strong>: 320px,  <strong>xs</strong>: 480px,  <strong>sm</strong>: 640px,  <strong>md</strong>: 800px,  <strong>lg</strong>: 960px,  <strong>xl</strong>: 1120px,  <strong>xxl</strong>: 1280px</p>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
				<div class="col-12">
					<div class="color_background-table-header py-3">.col-12</div>
				</div>
			</div>
        
            <div class="row mb-4">
				<div class="col-6">
					<div class="color_background-table-header py-3">.col-6</div>
				</div>
				<div class="col-6">
					<div class="color_background-table-header py-3">.col-6</div>
				</div>
			</div>

            <div class="row">
				<div class="col-6--md col-12">
					<div class="color_background-table-header py-3 mb-4">.col-6--md .col-12</div>
				</div>
				<div class="col-6--md col-12">
					<div class="color_background-table-header py-3 mb-4">.col-6--md .col-12</div>
				</div>
			</div>

            <div class="row mb-4">
				<div class="col-4">
					<div class="color_background-table-header py-3">.col-4</div>
				</div>
				<div class="col-4">
					<div class="color_background-table-header py-3">.col-4</div>
				</div>
				<div class="col-4">
					<div class="color_background-table-header py-3">.col-4</div>
				</div>
			</div>

            <div class="row mb-4">
				<div class="col-3">
					<div class="color_background-table-header py-3">.col-3</div>
				</div>
				<div class="col-3">
					<div class="color_background-table-header py-3">.col-3</div>
				</div>
				<div class="col-3">
					<div class="color_background-table-header py-3">.col-3</div>
				</div>
				<div class="col-3">
					<div class="color_background-table-header py-3">.col-3</div>
				</div>
			</div>

            <div class="row">
				<div class="col-3--lg col-4--md col-6--sm col-12--xs mb-4">
					<div class="color_background-table-header py-3">.col-3--lg .col-4--md .col-6--sm .col-12--xs</div>
				</div>
				<div class="col-3--lg col-4--md col-6--sm col-12--xs mb-4">
					<div class="color_background-table-header py-3">.col-3--lg .col-4--md .col-6--sm .col-12--xs</div>
				</div>
				<div class="col-3--lg col-4--md col-6--sm col-12--xs mb-4">
					<div class="color_background-table-header py-3">.col-3--lg .col-4--md .col-6--sm .col-12--xs</div>
				</div>
				<div class="col-3--lg col-12--md col-6--sm col-12--xs mb-4">
					<div class="color_background-table-header py-3">.col-3--lg <strong>.col-12--md</strong> .col-6--sm .col-12--xs</div>
				</div>
			</div>

            <div class="row mb-4">
				<div class="col-2">
					<div class="color_background-table-header py-3">.col-2</div>
				</div>
				<div class="col-2">
					<div class="color_background-table-header py-3">.col-2</div>
				</div>
				<div class="col-2">
					<div class="color_background-table-header py-3">.col-2</div>
				</div>
				<div class="col-2">
					<div class="color_background-table-header py-3">.col-2</div>
				</div>
				<div class="col-2">
					<div class="color_background-table-header py-3">.col-2</div>
				</div>
				<div class="col-2">
					<div class="color_background-table-header py-3">.col-2</div>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
				<div class="col-1">
					<div class="color_background-table-header py-3">.col-1</div>
				</div>
			</div>

            <div class="row mb-4">
				<div class="col-1 col-12--xxs col-6--xs col-4--sm col-3--md col-2--lg col-1--xl col-1--xxl">
					<div class="color_background-table-header py-3">.col-1 .col-12--xxs .col-6--xs .col-4--sm .col-3--md .col-2--lg .col-1--xl .col-1--xxl</div>
				</div>
			</div>

        </div>

	</section>

{% endblock %}