{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label%}

{% block body %}
	<!-- html goes here -->

	{% include 'layouts/nav.twig' %}

	<header>
		<div class="hc-container py-6">
			<h1 class="hc-h1">Overzicht van items</h1>
		</div>
	</header>

	<section>
		<div class="hc-container hc-accent py-4">

			<div class="mb-3">
				<h2>Grid</h2>
				<p>Een 12 kolommen systeem om alle componenten in de plaatsen en schikken<br />
				<a href="grid.html">Meer over de grid</a></p>
			</div>

			<div class="mb-3">
				<h2>Hulp classes</h2> 
				<p>Met deze lijst van classes is het mogelijk om uitbreidingen of overschrijvingen te maken van het huidige systeem.<br />
				<a href="components.html">Bekijk alle hulp classes</a></p>
			</div>

			<div class="mb-3">
				<h2>Typografie</h2>
				<p>Oplijsting van alle titles en classes die kunnen gebruikt worden om tekst te manipuleren<br />
				<a href="typography.html">Bekijk de typografie</a></p>
			</div>
			
			<div class="mb-3">
				<h2>Kleuren</h2> 
				<p>Alle kleuren die kunnen gebruikt worden naast de standaard voorziene css styling.<br />
				<a href="colors.html">Bekijk de beschikbare kleuren</a></p>
			</div>

			<div class="mb-3">
				<h2>Iconen</h2> 
				<p>Een overzichtstabel van alle iconen die beschikbaar zijn.<br />
				<a href="icons.html">Bekijk de iconen tabel</a></p>
			</div>

			<div class="mb-3">
				<h2>Code library</h2> 
				<p>Overzicht van de verschillende elementen die kunnen gebruikt worden. Er is ook een mogelijkheid om de bestaande code te bekijken en de kopiëren.<br />
				<a href="code-library.html">Code library</a></p>
			</div>
			
			<div class="mb-3">
				<h2>Voorbeeld flow</h2> 
				<p>Toepassing van alle bovenstaande zaken in een voorbeeld flow<br/>
				Bekijk hier de <a href="start.html">voorbeeld flow</a></p>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascript %}
	<!-- js goes here -->
{% endblock %}
