{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label%}

{% block body %}
	<!-- html goes here -->

	<header>
		<div class="hc-container">
			<h1 class="hc-h1">Overzicht van items</h1>
		</div>
	</header>

	<section>
		<div class="hc-container hc-accent py-4">
			<ul>
				<li>Typography: <a href="typography.html">Typography</a></li>
				<li>Grid: <a href="grid.html">Grid</a></li>
				<li>Colors: <a href="colors.html">Colors</a></li>
				<li>Icons: <a href="icons.html">Icons</a></li>
				<li>Components: <a href="components.html">Components</a></li>
				<li>Code library: <a href="library.html">Code library</a>
				<li>Example: <a href="start.html">Example form</a></li>
			</ul>
		</div>
	</section>

{% endblock %}

{% block javascript %}
	<!-- js goes here -->
{% endblock %}
