{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label%}

{% block body %}
	<!-- html goes here -->

	<header>
		<div class="hc-container">
			<h1 class="hc-h1">Overzicht van items</h1>
		</div>
	</header>

	<section>
		<div class="hc-container hc-accent py-4">
			<div class="mb-3">
				<h3>Typography</h3>
				<p>De te gebruiken typography doorheen de website. <br />Bekijk de <a href="typography.html">Typography</a> pagina</p>
			</div>
			<div class="mb-3">
				<h3>Grid</h3>
				<p>Plaats alle componenten en teksten op een voorhand vastgelegd adaptive gridsysteem. <br />Bekijk het <a href="grid.html">Gridsysteem</a></p>
			</div>
			<div class="mb-3">
				<h3>Colors</h3> 
				<p>Overzicht van de verschillende kleuren doorheen de website.<br />Bekijk hier alle <a href="colors.html">kleuren</a></p>
			</div>
			<div class="mb-3">
				<h3>Icons</h3> 
				<p>Bekijk hier welke iconen voorradig zijn. Bekijk de <a href="icons.html">iconentabel</a></p>
			</div>
			<div class="mb-3">
				<h3>Components</h3> 
				<p>Een overzicht van alle componenten die kunnen ingezet worden op de website.<br />Bekijk hier alle  <a href="components.html">componenten</a></p>
			</div>
			<div class="mb-3">
				<h3>Code library</h3> 
				<p>Bekijk hier welke iconen voorradig zijn. Bekijk de <a href="library.html">Code library</a></p>
			</div>
			<div class="mb-3">
				<h3>Voorbeeld flow</h3> 
				<p>Toepassing van alle bovenstaande zaken in een voorbeeld flow<br/>Bekijk hier de<a href="start.html">voorbeeld flow</a></p>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascript %}
	<!-- js goes here -->
{% endblock %}
