{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}

{% block body %}
	<!-- html goes here -->
	
	{% include 'layouts/header.twig' %}

	<section role="main">

        <div class="hc-container hc-container-condensed hc-accent py-4">
            <h2>Welkom</h2>
			<h3>Vestibulum id ligula porta felis euismod semper.</h3>
			<p>Om het formulier in te vullen heeft u nodig:</p>
			<ul>
				<li>Een foto of een scan van uw identiteitskaart;</li>
				<li>Alle C4- of vakantiecertificaten van uw vorige werkgevers (als die er zijn);</li>
				<li>De rechterlijke beslissing of de notariële akte in geval van “Ik ben de facto gescheiden en mijn echtgenoot ontvangt een deel van mijn inkomen ter uitvoering van een rechterlijke beslissing” (te herformuleren)</li>
			</ul>
			<p>Wanneer u het formulier heeft ingevuld, ontvangt u een bevestigingsmail met daarin een pdf-document dat u moet ondertekenen en vervolgens aan ons moet overhandigen. Volledige instructies zullen worden verstrekt in de bevestigingsmail.</p>

			<div class="row">
				<div class="col-12 mt-2">
					<button type="button" class="hc-button hc-button__primary hc-button--lg" tabindex="0" onclick="window.location.href='step1.html'">
						<span class="hc-button__label">Volgende<span class="hc-button__icon hc-button__icon--end">{{icon.render('next-arrow', 'hc-icon')}}</span></span>
					</button>
				</div>
			</div>
			
		</div>
           
	</section>

{% endblock %}