{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}

{% block body %}
	<!-- html goes here -->
	<header>
		<div class="hc-container">
			<h1 class="hc-h1">Aanvraag voor volledige werkloosheidsuitkeringen (C1)</h1>
		</div>
	</header>

	<section role="main">

        <div class="hc-container accent py-4">
            this is is
        </div>
           
	</section>

{% endblock %}