{% extends "layouts/default.twig" %}

{% import "components/icons/icon.twig" as icon %}
{% import "components/forms/input.twig" as input %}
{% import "components/forms/select.twig" as select %}
{% import "components/forms/checkbox.twig" as checkbox %}
{% import "components/forms/radio.twig" as radio %}
{% import "components/forms/helper.twig" as helper %}
{% import "components/forms/label.twig" as label %}
{% import "components/forms/switcher.twig" as switcher %}

{% block body %}
	<!-- html goes here -->
		{% include 'layouts/nav.twig' %}
	
	{% include 'layouts/header.twig' %}

	<section role="main">

      <div class="hc-container hc-container-condensed hc-accent py-4">
            
			<div class="row">
				<div class="col-12 col-7--md">
					<h2>Egestas Pharetra Nibh Aenean</h2></div>
				<div class="col-12 col-5--md flex--md justify-end--md"> 
					<button type="button" class="hc-button hc-button__primary hc-button--lg" tabindex="0" >
                        <span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('calendar', 'hc-icon')}}</span>Afspraak maken</span>
                    </button>
				</div>
			</div>

			<div class="row">
				<div class="col-12 mt-3 mb-3">
					<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Etiam porta malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Integer posuere a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.<br />Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.</p>
				</div>
			</div>

			<div class="row mt-2">
				<div class="col-12 flex--md direction-row-reverse--md justify-end--md">
					<button type="button" class="hc-button hc-button__outline-primary mr-2" tabindex="0"  onclick="window.location.href='step5.html'">
						<span class="hc-button__label"><span class="hc-button__icon hc-button__icon--start">{{icon.render('prev-arrow', 'hc-icon')}}</span>Vorige</span>
					</button>
				</div>
			</div>

		</div>

           
	</section>

{% endblock %}