{% extends "layouts/default.twig" %}

{% block body %}
	<!-- html goes here -->
	<header>
		<div class="container">
			<h1>UXCraft</h1>
		</div>
	</header>

	<section>
		<div class="container">
			<div class="grid">
				<h1 class="grid-item-12 hc-h1">Source Sans Pro / 48px / bold </h1>
				<h1 class="grid-item-12 hc-h2">Source Sans Pro / 48px / bold </h1>
				<h1 class="grid-item-12 hc-h3">Source Sans Pro / 48px / bold </h1>
				<h1 class="grid-item-12 hc-h4">Source Sans Pro / 48px / bold </h1>
				<h1 class="grid-item-12 hc-h5">Source Sans Pro / 48px / bold </h1>
				<h1 class="grid-item-12 hc-h6">Source Sans Pro / 48px / bold </h1>
				<h1 class="grid-item-12 hc-h7">Source Sans Pro / 48px / bold </h1>
			</div>
		</div>
    </section>
{% endblock body %}

{% block javascript %}
	<!-- js goes here -->
{% endblock %}
