{% extends "layouts/default.twig" %}

{% block body %}
	<!-- html goes here -->

	{% include 'layouts/nav.twig' %}
	
	<header>
		<div class="hc-container">
			<h1>Typography</h1>
		</div>
	</header>

	<section>
		<div class="hc-container hc-accent py-4">
			<div class="mb-4">
				<div class="font-size--tiny mb-2">-- Standaard headers</div>
				<h1 class="grid-item-12">Heading 1</h1>
				<h2 class="grid-item-12">Heading 2</h2>
				<h3 class="grid-item-12">Heading 3</h3>
				<h4 class="grid-item-12">Heading 4</h4>
			</div>

			<div class="mb-4">
				<div class="font-size--tiny mb-2">-- Headers met class</div>
				<h4 class="grid-item-12 hc-h1">Heading 4 + .hc-h1</h1>
				<h3 class="grid-item-12 hc-h2">Heading 3 + .hc-h2</h1>
				<h2 class="grid-item-12 hc-h3">Heading 2 + .hc-h3</h1>
				<h1 class="grid-item-12 hc-h4">Heading 1 + .hc-h4</h1>
			</div>

			<div class="mb-4">
				<div class="font-size--tiny mb-2">-- default font</div>
				<p>Doorlopende tekst</p>
				<p class="font-size--small">Doorlopende tekst small .font-size--small</p>
				<p class="font-size--tiny"> Doorlopende tekst tiny .font-size--tiny</p>
				<p class="font-weight--200">Dikte 200 .font-weight--200</p>
				<p class="font-weight--300">Dikte 300 .font-weight--300</p>
				<p class="font-weight--400">Dikte 400 .font-weight--400</p>
				<p class="font-weight--600">Dikte 600 .font-weight--600</p>
				<p class="font-weight--700">Dikte 700 .font-weight--700</p>
				<p class="font-weight--900">Dikte 900 .font-weight--900</p>
			</div>
			
		</div>
    </section>
{% endblock body %}

{% block javascript %}
	<!-- js goes here -->
{% endblock %}
