{% macro render(name, label, value) %}
    {% import "components/icons/icon.twig" as icon %}
    
    <label class="hc-checkbox">
        <input type="checkbox" name="{{name}}" value="{{value}}" class="hc-checkbox__input" />
        {{icon.render('check', 'hc-checkbox__icon')}}
        <span class="hc-checkbox__label">{{label}}</span>
    </label>
{% endmacro %}