/*
 * Grid
 * Flexbox grid
 */

.row {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin: 0px -#{rem($grid-gutter) / 2} !important;
}

.col {
  @for $i from 1 through $grid-columns {
    &-#{$i} {
      width: #{100% / $grid-columns * $i} !important;
      padding: 0px #{rem($grid-gutter) / 2} !important;
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include mq($breakpoint) {
      @for $i from 1 through $grid-columns {
        &-#{$i}--#{$breakpoint} {
          width: #{100% / $grid-columns * $i} !important;
          padding: 0px #{rem($grid-gutter) / 2} !important;
        }
      }
    }
  }
}
