/*
 * Grid
 * Flexbox grid
 */

.row {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  margin: 0px -#{rem($grid-gutter) / 2} !important;
}

.col {
  @for $i from 1 through $grid-columns {
    &-#{$i} {
      width: #{100% / $grid-columns * $i} !important;
      padding: 0px #{rem($grid-gutter) / 2} !important;
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include mq($breakpoint) {
      @for $i from 1 through $grid-columns {
        &-#{$i}--#{$breakpoint} {
          width: #{100% / $grid-columns * $i} !important;
          padding: 0px #{rem($grid-gutter) / 2} !important;

          &.p-half {
            padding: #{rem($grid-gutter) / 4} !important;
          }
    
          &.px-half {
            padding-right: #{rem($grid-gutter) / 4} !important;
            padding-left: #{rem($grid-gutter) / 4} !important;
          }
    
          &.py-half {
            padding-top: #{rem($grid-gutter) / 4} !important;
            padding-bottom: #{rem($grid-gutter) / 4} !important;
          }
    
          &.pr-half {
            padding-right: #{rem($grid-gutter) / 4} !important;
          }
    
          &.pl-half {
            padding-left: #{rem($grid-gutter) / 4} !important;
          }
    
          &.pt-half {
            padding-top: #{rem($grid-gutter) / 4} !important;
          }
    
          &.pb-half {
            padding-bottom: #{rem($grid-gutter) / 4} !important;
          }
    

        }
      }
    }
  }
}
