/*
 * MIXINS
 * Site wide mixins
 */

// -------------
// Media queries
// -------------

@mixin mq($breakpoint, $query1: min, $query2: width) {
  $query: map-get($breakpoints, $breakpoint);
  
  @if $query != null {
    @media (#{$query1}-#{$query2}: #{$query}) {
      @content;
    }
  } @else {
    @media (#{$query1}-#{$query2}: $breakpoint) {
      @content;
    }
  }
}

// --------------
// focus 
// --------------
@mixin focus($color: $color_primary, $no_space: 'true') {

  &:focus,
  .has-focus { 
    outline: 0;
    /* Some exciting button focus styles */ 
    @if $no_space == 'none'{
      box-shadow: $color 0px 0px 0px 2px;
    } @else {
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $color 0px 0px 0px 4px;
    }
  }
  &:focus:not(:focus-visible) {
    /* Undo all the above focused button styles
      if the button has focus but the browser wouldn't normally
      show default focus styles */
      box-shadow: none;
  }
  &:focus-visible { 
    /* Some even *more* exciting button focus styles */ 
    outline: 0;
    @if $no_space == 'none'{
      box-shadow: $color 0px 0px 0px 2px !important;
    } @else {
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $color 0px 0px 0px 4px !important;
    }
  }
}