// --------------
// font-sizes
// --------------

$font-size_tiny: 14px;
$font-size_heading1: rem(48px);
$font-size_heading2: rem(34px);
$font-size_heading3: rem(24px);
$font-size_heading4: rem(22px);
//$font-size_heading5: rem(48px);
//$font-size_heading6: rem(48px);


// --------------
// line-heights
// --------------

$line-height_tiny: 18px;


