.#{$ns}button {
    $root: &;

    padding: rem(20px) rem(22px);
    border-radius: 4px;
    color: inherit;
    border: 0;
    cursor: pointer;
    outline: 0;
    user-select: none;
    -moz-appearance: none;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    font-family: $font-family;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    transition: $transition; 

    background-color: $color_background-default; 
    color: $color_default-text;

    &:hover {
        background-color: darken($color_background-default, 5%);   
    }

    @include focus($color_default-text);

    &:active { 
        background-color: darken($color_background-default, 10%);   
    }

    .#{$ns}icon{
        fill: $color_default-text;
    }


    // FORMATS
    &, &--lg {
        padding: rem(20px) rem(22px);
    }

    &--md {
        padding: rem(16px) rem(22px);
    }

    &--sm {
        padding: rem(12px) rem(22px);
    }

    // LABEL
    &__label {
        font-weight: 600;
        font-size: 1rem;
        width: 100%;
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
    }

    // ICONS
    &__icon {
        display: inherit;
        align-self: center;
        pointer-events: none;
        flex-shrink: 0;
    }

    &__icon--start {
        margin-right: rem(16px);
    }

    &__icon--end {
        margin-left: rem(16px);
    }

    // STYLES
    // FULL - BUTTONS
    &__primary, 
    &__secondary,
    &__tertiary {
        background-color: $color_primary;
        color: $color_white;

        &:hover {
            background-color: $color_primary_hover;   
        }

        @include focus($color_default-text);

        &:active { 
            background-color: $color_primary_active;   
        }

        .#{$ns}icon{
            fill: $color_white;
        }
    }

    &__primary {
        color: $color_primary_text;

        .#{$ns}icon{
            fill: $color_primary_text;
        }

        &:hover {
            background-color: $color_primary_hover;   
        }

        @include focus($color_default-text);

        &:active {
            background-color: $color_primary_active;
        }
    }

    &__secondary {
        background-color: $color_secondary;

        &:hover {
            background-color: $color_secondary_hover; 
        }

        @include focus($color_default-text);

        &:active {
            background-color: $color_secondary_active;
        }
    }

    &__tertiary {
        background-color: $color_tertiary;

        &:hover {
            background-color: $color_tertiary_hover;
        }


        @include focus($color_default-text); 

        &:active {
            background-color: $color_tertiary_active; 
        }
    }

    &__disabled {
        background-color: $color_background-disabled;
        color: $color_text-disabled;
        pointer-events: none;
    }


    // STYLES
    // OUTLINE - BUTTONS
    &__outline-primary, 
    &__outline-secondary,
    &__outline-tertiary,
    &__outline-disabled,
    &__ghost-primary, 
    &__ghost-secondary,
    &__ghost-tertiary,
    &__ghost-disabled {
        border: 2px solid $color_primary;
        background: transparent;
        color: $color_primary;

        .#{$ns}icon{
            fill: $color_primary;
        }

        // FORMATS
        &#{$root}, 
        &#{$root}--lg {
            padding: rem(18px) rem(20px) !important;
        }

        &#{$root}--md {
            padding: rem(14px) rem(20px) !important;
        }

        &#{$root}--sm {
            padding: rem(10px) rem(20px) !important;
        }

        &:hover {
            background-color: $color_primary_outline_hover;
            color: $color_primary_outline_text_hover;

            .#{$ns}icon{
                fill: $color_primary_outline_text_hover;
            }
        }

        &:active { 
            border-color: $color_primary_outline_border_active;
            background-color: $color_primary_outline_active;
            color: $color_primary_outline_text_active;

            .#{$ns}icon{
                fill: $color_primary_outline_text_active;
            }
        }

    }

    &__outline-primary, 
    &__ghost-primary {
        border-color: $color_primary_outline_border;
        color: $color_primary_outline_text;

        .#{$ns}icon{
            fill: $color_primary_outline_text;
        }

        &:hover {
            background-color: $color_primary_outline_hover;
            color: $color_primary_outline_text_hover;

            .#{$ns}icon{
                fill: $color_primary_outline_text_hover;
            }
        }

       
        @include focus($color_default-text);
       
        &:active {
            border-color: $color_primary_outline_border_active;
            background-color: $color_primary_outline_active;
            color: $color_primary_outline_text_active;

            .#{$ns}icon{
                fill: $color_primary_outline_text_active;
            }
        }

        
    }

    &__outline-secondary, 
    &__ghost-secondary {
        border-color: $color_secondary;
        color: $color_secondary;

        .#{$ns}icon{
            fill: $color_secondary;
        }

        &:hover {
            background-color: $color_secondary_outline_hover;
            color: $color_secondary_outline_text_hover;

            .#{$ns}icon{
                fill: $color_secondary_outline_text_hover;
            }
        }

       
        @include focus($color_default-text);
       
        &:active {
            border-color: $color_secondary_outline_border_active;
            background-color: $color_secondary_outline_active;
            color: $color_secondary_outline_text_active;

            .#{$ns}icon{
                fill: $color_secondary_outline_text_active;
            }
        }

        
    }

    &__outline-tertiary, 
    &__ghost-tertiary {
        border-color: $color_tertiary_outline_border;
        color: $color_tertiary_outline_text;

        .#{$ns}icon{
            fill: $color_tertiary_outline_text;
        }

        &:hover { 
            background-color: $color_tertiary_outline_hover;
            color: $color_tertiary_outline_text_hover;

            .#{$ns}icon{
                fill: $color_tertiary_outline_text_hover;
            }
        }
       
        @include focus($color_default-text);
       
        &:active {
            border-color: $color_tertiary_outline_border_active;
            background-color: $color_tertiary_outline_active;
            color: $color_tertiary_outline_text_active;

            .#{$ns}icon{
                fill: $color_tertiary_outline_text_active;
            }
        }

        
    }

    &__outline-disabled,
    &__ghost-disabled {
        border-color: $color_button-border-disabled;
        color: $color_text-disabled;
        pointer-events: none;

        .#{$ns}icon{
            fill: $color_icon-disabled;
        }
    }

    // STYLES
    // GHOST - BUTTONS
    &__ghost-primary, 
    &__ghost-secondary,
    &__ghost-tertiary,
    &__ghost-disabled {
        border: none;
    }
}

.#{$ns}disabled {
    .#{$ns}button {
        &__primary, 
        &__secondary,
        &__tertiary {
            background-color: $color_background-disabled;
            color: $color_text-disabled;
            pointer-events: none;
        }

        &__outline-primary, 
        &__outline-secondary,
        &__outline-tertiary,
        &__outline-disabled,
        &__ghost-primary, 
        &__ghost-secondary,
        &__ghost-tertiary,
        &__ghost-disabled {
            border-color: $color_button-border-disabled;
            color: $color_text-disabled;
            pointer-events: none;
        }

    }
}