/*
 * CHECKBOX
 * Checkbox styling
 */

.#{$ns}checkbox {
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;

    &__input {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
    }

    &__icon {
        position: relative;
        top: .125rem;
        left: 0;
        display: inline-flex;
        vertical-align: baseline;
        width: rem(15px);
        height: rem(15px);
        margin: 0;
        border: 1px solid $color_border;
        border-radius: rem(2px);
        fill: transparent;
        background-color: $color_white;
        transition: $transition;

        :focus-visible + & {
            outline: 0;
            box-shadow: $focus;
        }

        :checked + & {
            fill: $color_white;
            border-color: $color_default-text;
            background-color: $color_default-text;
        }

        :hover + &,
        :active + & {
            border-color: $color_default-text;
        }
    }

    &__label {
        display: inline-block;
        vertical-align: baseline;
        padding: 0 .25rem;
    }
}