/*
 * CHECKBOX
 * Checkbox styling
 */

.#{$ns}checkbox {
    display: inline-flex;
    vertical-align: baseline;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    overflow: visible;
    padding: 2px 0 2px 4px;

    &__input {
        top: 0;
        left: 0;
        width: 100%;
        cursor: inherit;
        height: 100%;
        margin: 0;
        opacity: 0;
        padding: 0;
        z-index: 1;
        position: absolute;
    }

    &__icon {
        position: relative;
        top: .125rem;
        left: 0;
        display: inline-flex;
        vertical-align: baseline;
        width: rem(15px);
        height: rem(15px);
        flex-basis: rem(15px);
        flex-shrink: 0;
        margin: 0;
        border: 1px solid $color-border;
        border-radius: rem(2px);
        fill: transparent;
        background-color: $color_white;
        transition: $transition;
        margin-right: .5rem;

        :focus + &,
        .has-focus &{ 
            outline: 0;
            box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $color_tertiary 0px 0px 0px 4px;
        }

        :focus:not(:focus-visible) + &{
            /* Undo all the above focused button styles
            if the button has focus but the browser wouldn't normally
            show default focus styles */
            box-shadow: none;
        }
        :focus-visible + &,
        .has-focus &{ 
            /* Some even *more* exciting button focus styles */ 
            outline: 0;
            box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $color_tertiary 0px 0px 0px 4px !important;
        }

        :checked + & {
            fill: $color_white;
            border-color: $color_default-text;
            background-color: $color_default-text;
        }

        :hover + &,
        :active + & {
            border-color: $color_default-text;
        }
    }

    &__label {
        display: inline-block;
        vertical-align: baseline;
        padding: 0 .25rem;
    }
}

.#{$ns}valid {
    .#{$ns}checkbox__icon.#{$ns}icon {
        fill: transparent !important;
    }
    :checked + .#{$ns}checkbox__icon {
        fill: $color_white !important;
        background-color: $color_valid;
        border-color: $color_valid;
    }
}

.#{$ns}warning {
    .#{$ns}checkbox__icon.#{$ns}icon {
        fill: transparent !important;
    }
    :checked + .#{$ns}checkbox__icon {
        fill: $color_white !important;
        background-color: $color_warning;
        border-color: $color_warning;
    }
}

.#{$ns}info {
    .#{$ns}checkbox__icon.#{$ns}icon {
        fill: transparent !important;
    }
    :checked + .#{$ns}checkbox__icon {
        fill: $color_white !important;
        background-color: $color_info;
        border-color: $color_info;
    }
}

.#{$ns}error {
    .#{$ns}checkbox__icon.#{$ns}icon {
        fill: transparent !important;
    }
    :checked + .#{$ns}checkbox__icon {
        fill: $color_white !important;
        background-color: $color_error;
        border-color: $color_error;
    }
}


.#{$ns}disabled {

    .#{$ns}checkbox__icon.#{$ns}icon {
        fill: transparent !important;
    }
    :checked + .#{$ns}checkbox__icon {
        fill: $color_white !important;
        background-color: $color_background-disabled;
        border-color: $color_border-disabled;
        opacity: $opacity;
    }
    :hover + .#{$ns}checkbox__icon,
    :active + .#{$ns}checkbox__icon {
        border-color: $color-border !important;
    }
}