form {

    .form--white {
        background: #FFF;
        border-radius: 4px;
    }
}


fieldset {
    margin: 0;
    padding: 0;
    border: none;

    legend {
        font-size: 1rem;
        font-weight: 600;
    }
}

.#{$ns}accent-block {
    border-radius: $border-radius;
    background-color: $color_background-page;
    padding: 0 rem(40px) !important;
}