/*
 * INPUT
 * Input styling
 */

.#{$ns}input {
  $root: &;

  position: relative;
  display: block;

  &__input {
    display: block;
    width: 100%;
    height: $input-height;
    min-height: 3rem;
    padding: rem(14px) rem(16px);
    margin: 0;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    font-size: $font-size;
    background-color: #fff;
    transition: $transition;
    font-family: $font-family;

    &::placeholder {
      color: rgba($color_default-text, .4);
    }

    &:hover{    
      border-color: $color_default-text;
    }

    &:focus {
      border: $border-width solid $color_tertiary;
      outline: 0;
    }
    &:focus:not(:focus-visible) {
      border: none;
    }

    &:focus-visible,
    &:active,
    &:not(:placeholder-shown),
    &.#{$ns}has-value {
      outline: 0;
      border: $border-width solid $color_tertiary;
    }

    [class*="input__icon"] + & {
      padding-right: $input-height;
    }

    // textarea options
    resize: vertical;

  }
 
  &__icon {
    position: absolute;
    top: 50%;
    right: 1rem;;
    fill: $color_icons;
    pointer-events: none;
    transform: translateY(-50%);

    // case multiline
    #{$root}--multiline &{
      height: calc(3rem - 2px);
    }
  }

  // states

  &.#{$ns}valid,
  &.#{$ns}warning,
  &.#{$ns}info,
  &.#{$ns}error {
    #{$root}__input {
      border: $border-width solid $color_tertiary;
      @include focus($color_tertiary);
    }
  }

  &.#{$ns}valid {
    #{$root}__input {
      border-color: $color_valid;
      //color: $color_valid;
    }

    #{$root}__icon {
      fill: $color_valid;
    }
  }

  &.#{$ns}warning {
    #{$root}__input {
      border-color: $color_warning;
      //color: $color_warning;
    }

    #{$root}__icon {
      fill: $color_warning;
    }
  }

  &.#{$ns}info {
    #{$root}__input {
      border-color: $color_info;
      //color: $color_info;
    }

    #{$root}__icon {
      fill: $color_info;
    }
  }

  &.#{$ns}error {
    #{$root}__input {
      border-color: $color_error;
      //color: $color_error;
    }

    #{$root}__icon {
      fill: $color_error;
    }
  }

   
  &.#{$ns}disabled {

    #{$root}__input{
      border-color: rgba($color-disabled, .25);
      background-color: $color_background-disabled;
      pointer-events: none;
      opacity: $opacity;

      &,&::placeholder {
        color: $color_disabled;
      }
    }
  }

}

.#{$ns}input__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    &--horizontal {
        flex-direction: row;
        margin: 0 -.5em;

        li {
            padding: 0 .5em;
        }
    }

    &--vertical {
        flex-direction: column;

        li:nth-child(n+2) {
            margin-top: .5em;
        }
    }
}