/*
 * RADIO
 * Radio styling
 */

 .#{$ns}radio {
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;

    &__input {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
    }

    &__icon {
        position: relative;
        top: .125rem;
        left: 0;
        display: inline-flex;
        vertical-align: baseline;
        width: 1rem;
        height: 1rem;
        padding: 4px;
        margin: 0;
        border: 1px solid #ccc;
        border-radius: 50%;
        fill: transparent;
        background-color: $color_white;
        transition: $transition;

        :focus + &,
        .has-focus + &{ 
            outline: 0;
            box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $color_tertiary 0px 0px 0px 4px;
        }
        :focus:not(:focus-visible) + &{
            /* Undo all the above focused button styles
            if the button has focus but the browser wouldn't normally
            show default focus styles */
            box-shadow: none;
        }
        :focus-visible + &{ 
            /* Some even *more* exciting button focus styles */ 
            outline: 0;
            box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, $color_tertiary 0px 0px 0px 4px !important;
        }

        :checked + & {
            fill: #333;
            border-color: $color_default-text;
        }

        :hover + &,
        :active + & {
            border-color: $color_default-text;
        }
    }

    &__label {
        display: inline-block;
        vertical-align: baseline;
        padding: 0 .25rem;
    }
}