/*
 * SELECT
 * Select styling
 */

.#{$ns}select {
    position: relative;
    display: block;

    &__input {
        display: block;
        width: 100%;
        height: $input-height;
        padding: .5rem 1rem;
        margin: 0;
        border: 1px solid #ccc;
        border-radius: .25rem;
        font-size: .875rem;
        background-color: #fff;
        appearance: none;
        transition: $transition;

        &::placeholder {
            color: #999;
        }

        &::-ms-expand {
            display: none;
        }

        &:hover {
            cursor: pointer;
            border-color: $color_default-text;
        }

        /*&:focus-visible {
            outline: 0;
            box-shadow: $focus;
        }*/

        @include focus($color_tertiary);

        &.#{$ns}has-value {
            outline:0;
            border: 2px solid $color_tertiary;
        }

        [class*="#{$ns}input__icon"] + & {
            padding-right: $input-height;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 1rem;;
        fill: $color_icons;
        pointer-events: none;
        transform: translateY(-50%);
    }
}

.#{$ns}valid,
.#{$ns}warning,
.#{$ns}info,
.#{$ns}error {
  .#{$ns}select__input {
    border: $border-width solid $color_tertiary;
    @include focus($color_tertiary);
  }
}

.#{$ns}valid {
  .#{$ns}select__input {
    border-color: $color_valid;
    //color: $color_valid;
  }

  .#{$ns}select__icon {
    fill: $color_valid;
  }
}

.#{$ns}warning {
  .#{$ns}select__input {
    border-color: $color_warning;
    //color: $color_warning;
  }

  .#{$ns}select__icon {
    fill: $color_warning;
  }
}

.#{$ns}info {
  .#{$ns}select__input {
    border-color: $color_info;
    //color: $color_info;
  }

  .#{$ns}select__icon {
    fill: $color_info;
  }
}

.#{$ns}error {
  .#{$ns}select__input {
    border-color: $color_error;
    //color: $color_error;
  }

  .#{$ns}select__icon {
    fill: $color_error;
  }
}

  
.#{$ns}disabled {

  .#{$ns}select__input {
    border-color: rgba($color-disabled, .25);
    background-color: $color_background-disabled;
    pointer-events: none;
    opacity: $opacity;

    &,&::placeholder {
      color: $color_disabled;
    }
  }
}
