/*
 * SELECT
 * Select styling
 */

.#{$ns}select {
    position: relative;
    display: block;

    &__input {
        display: block;
        width: 100%;
        height: $input-height;
        padding: .5rem 1rem;
        margin: 0;
        border: 1px solid #ccc;
        border-radius: .25rem;
        font-size: .875rem;
        background-color: #fff;
        appearance: none;
        transition: $transition;

        &::placeholder {
            color: #999;
        }

        &::-ms-expand {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

        &:focus-visible {
            outline: 0;
            box-shadow: $focus;
        }

        &.#{$ns}has-value {
            outline:0;
            border: 2px solid $color_tertiary;
        }

        [class*="#{$ns}input__icon"] + & {
            padding-right: $input-height;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 2.5rem;
        height: $input-height;
        fill: $color_default-text;
        padding: .75rem;
        pointer-events: none;
    }
}