/*
 * SELECT
 * Select styling
 */

.#{$ns}select {
    position: relative;
    display: block;

    &__input {
        display: block;
        width: 100%;
        height: 2.5rem;
        padding: .5rem 1rem;
        margin: 0;
        border: 1px solid #ccc;
        border-radius: .25rem;
        font-size: .875rem;
        background-color: #fff;
        appearance: none;

        &::placeholder {
            color: #999;
        }

        &::-ms-expand {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: 0;
            box-shadow: $focus;
        }

        [class*="input__icon"] + & {
            padding-right: 2.5rem;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 2.5rem;
        height: 2.5rem;
        fill: #999;
        padding: .75rem;
        pointer-events: none;
    }
}