.#{$ns}valid {

    color: $color_valid-text !important;

    .#{$ns}icon {
        fill: $color_valid !important;
    }
}

.#{$ns}warning {

    color: $color_warning-text !important;

    .#{$ns}icon {
        fill: $color_primary !important;
    }
}

.#{$ns}error {

    color: $color_error-text !important;

    .#{$ns}icon {
        fill: $color_error !important;
    }
}

.#{$ns}info {

    color: $color_info-text !important;

    .#{$ns}icon {
        fill: $color_info !important;
    }
}

.#{$ns}disabled {

    color: $color_text-disabled !important;

    .#{$ns}icon {
        fill: $color_icon-disabled !important;
    }
}