.#{$ns}switcher {

    $root: &;

    display: flex;
    background-color: rgba($color_secondary, .1);
    border-radius: $border-radius;
    border: 1px solid $color_secondary;
    justify-content: stretch;
    height: $input-height;

    .#{$ns}valid &,
    &.#{$ns}valid{
        border-color: $color_valid;
    }

    .#{$ns}error &,
    &.#{$ns}error{
        border-color: $color_error;
    }

    .#{$ns}warning &,
    &.#{$ns}warning{
        border-color: $color_warning;
    }

    .#{$ns}info &,
    &.#{$ns}info{
        border-color: $color_info;
    }

    &-item {
        display: flex;
        position:relative;
        flex: 1;

        &:not(:last-child):after {
            content: "";
            display: block;
            width: 1px;
            height: rem(16px);
            background: $color_secondary;
            position: absolute; 
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 0;
        }

        &__input {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
            clip-path: inset(50%);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
        }

        &__label {
            cursor: pointer;
            align-self: center;
            flex-grow: 1;
            position: relative;
            z-index: 3;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            color: $color_brown-dark;

            &:hover {
                background-color: rgba($color_secondary, .1);
            }

            .#{$ns}valid &{
                color: $color_valid-text;
            }

            .#{$ns}error &{
                color: $color_error-text;
            }

            .#{$ns}warning &{
                color: $color_error-text;
            }

            .#{$ns}info &{
                color: $color_info-text;
            }


        }


        // Focus state
        .has-focus &__label:after,
        &__input:focus + &__label:after {
            content: "";
            position: absolute;
            top: -6px;
            right: 0;
            bottom: -6px;
            left: 0;
            border: 2px solid $color_default-text;
            z-index:2;
        }
        &__input:not(:focus) + &__label:after {
            content: unset;
        }
        &__input:focus-visible + &__label:after {
            content: "";
            position: absolute;
            top: -6px;
            right: 0;
            bottom: -6px;
            left: 0;
            border: 2px solid $color_default-text;
            z-index:2;
        }

        &:first-child &__input:focus + &__label:after {
            left: -6px;
            border-radius: $border-radius*2 0 0 $border-radius*2;
        }
        &:first-child &__input:not(:focus) + &__label:after {
            left: auto;
        }
        &:first-child &__input:focus-visible + &__label:after {
            left: -6px;
            border-radius: $border-radius*2 0 0 $border-radius*2;
        }

        &:last-child &__input:focus + &__label:after {
            right: -6px;
            border-radius: 0 $border-radius*2 $border-radius*2 0;
        }
        &:last-child &__input:not(:focus) + &__label:after {
            right: auto;
        }
        &:last-child &__input:focus-visible + &__label:after {
            right: -6px;
            border-radius: 0 $border-radius*2 $border-radius*2 0;
        }

        &:first-child &__input:checked:focus + &__label:after {
            left: -10px;
            right: -8px;
            top: -8px;
            bottom: -8px;
            border-radius: $border-radius * 3;
        }

        &:first-child &__input:checked:not(:focus) + &__label:after {
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            border: none;
        }

        &:first-child &__input:checked:focus-visible + &__label:after{
            left: -10px;
            right: -8px;
            top: -8px;
            bottom: -8px;
            border-radius: $border-radius * 3;
        }

        &:last-child &__input:checked:focus + &__label:after {
            left: -8px;
            right: -10px;
            top: -8px;
            bottom: -8px;
            border-radius: $border-radius * 3;
        }

        &:last-child &__input:checked:not(:focus) + &__label:after {
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            border: none;
        }

        &:last-child &__input:checked:focus-visible + &__label:after {
            left: -8px;
            right: -10px;
            top: -8px;
            bottom: -8px;
            border-radius: $border-radius * 3;
        }

        // Selected state
        &__input:checked + &__label {
            color: $color_white;
            background: $color_secondary;

            .#{$ns}valid &{
                background: $color_valid-text;
            }

            .#{$ns}error &{
                background: $color_error-text;
            }

            .#{$ns}warning &{
                background: $color_warning-text;
            }

            .#{$ns}info &{
                background: $color_info-text;
            }

           
            &::before {
                content: "";
                position: absolute;
                top: -4px;
                right: -4px;
                bottom: -4px;
                left: -4px;
                background: $color_secondary;
                border-radius: $border-radius*2;
                z-index: -1;

                .#{$ns}valid &{
                    background: $color_valid;
                }

                .#{$ns}error &{
                    background: $color_error;
                }

                .#{$ns}warning &{
                    background: $color_warning;
                }

                .#{$ns}info &{
                    background: $color_info;
                }
            }

            &:hover,
            &:hover::before {
                background: darken($color_secondary, 5%);

                .#{$ns}valid &{
                    background: darken($color_valid, 5%);
                }
                
                .#{$ns}error &{
                    background: darken($color_error, 5%);
                }
                .#{$ns}warning &{
                    background: darken($color_warning, 5%);
                }
                .#{$ns}info &{
                    background: darken($color_info, 5%);
                }

            }
            
            &:active, 
            &:active::before {
                background: darken($color_secondary, 10%);

                .#{$ns}valid &{
                    background: darken($color_valid, 10%);
                }
                
                .#{$ns}error &{
                    background: darken($color_error, 10%);
                }

                .#{$ns}warning &{
                    background: darken($color_warning, 10%);
                }

                .#{$ns}info &{
                    background: darken($color_info, 10%);
                }

            }
        }

        &:first-child &__input:checked + &__label::before {
            left: -6px;
        }

        &:last-child &__input:checked + &__label::before {
            right: -6px;    
        }
    }

    &.#{$ns}disabled {
        background-color: $color_background-disabled;
        border-color: rgba($color-disabled, .25);

        #{$root}-item__label {
            color: $color_disabled;
            cursor:initial;
            pointer-events: none;
        }
    }
}

.#{$ns}disabled {
    .#{$ns}switcher,
    &.#{$ns}switcher {
        background-color: $color_background-disabled;
        border-color: rgba($color-disabled, .25);

        &-item__label {
            color: $color_disabled;
            cursor:initial;
            pointer-events: none;
        }
    }
}

