.#{$ns}table{

    overflow-x: auto;

    table {
        background: transparent;
        width: 100%;
        margin-bottom: 1rem;
        vertical-align: top;
        border-color: $color_border-table;
        overflow-x: auto;
        white-space: nowrap;

        th {
            font-weight: 600;
            background-color: $color_background-table-header;
        }

        tbody {
            font-weight: 400;
        }
    
    }

    &__icon-cell{
        width: 40px;
        min-width: 40px;
    }

    &>:not(caption) > * > * {
        padding: 1rem 1.4rem;
        -webkit-transition: background-color .2s ease-in;
        transition: background-color .2s ease-in;
        background-image: none;
        background-color: $color_white;
        border-width: 1px;
    }

    & table > :not(:last-child) > :last-child > * {
        border-bottom-color: inherit
    }

    &-sm table >:not(caption) > * > * {
        padding: .5rem .6rem
    }

    &--hover tr:hover td{
        background-color: $color_background-table-header;
    }

}