/*
 * LAYOUT
 * General layout code
 */
 
html, body {
    overflow-x: hidden;
}
body {
    background: $color_background-page;
    position: relative;
}

@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

@mixin sr-only-focusable {
    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
        clip: auto;
        white-space: normal;
        clip-path: none;
    }
}

.#{$ns}hide {
    display:none;
    visibility: hidden;
}

.#{$ns}show {
    display: block;
    visibility: visible;
}

.#{$ns}sr-only{
    @include sr-only();
}

.#{$ns}sr-only-focusable{
    @include sr-only-focusable();
}

.#{$ns}pointer {
    cursor: pointer;
}

.#{$ns}no-pointer-events {
    pointer-events: none;
}

.#{$ns}border {
    border: $border-width solid $color_border;

    &--thin{
        border: 1px solid $color_border;;
    }
}