<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <title>HVW CAPAC</title>
  <meta name="description" content="">
  <meta name="author" content="UXMen">
  <link rel="stylesheet" href="css/app.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/atom-one-dark.min.css">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content=""/>
  <meta property="og:url" content="" />
  <script src="./vendor/node_modules/svgxuse/svgxuse.min.js"></script>
  <style>
    pre {
      font-size: .75rem;
    }

    .btn{
      border: 1px solid #256db1;
      background: white;
      border-radius: 4px;
      color: #256db1;
      padding: .5rem 1rem;
      margin-right: .25rem;
      margin-top: .5rem;
      margin-bottom: 1rem;
    }

    .btn.active {
      background-color: #256db1;
      color: white;
      border: 1px solid #256db1;
    }

    .right {
      float: right;
    }
    
    .html {
      border: 1px solid #DEDEDE;
      border-radius: 4px;
      padding: 1rem 1.5rem;
    }
    
    .shadowDom {
      position: relative;
      border-radius: 4px;
      display: none;
      clear: both;
    }

    .component {
      margin-bottom: 3rem;
    }

    .component + *{
      clear:both;
    }
    
    .component .html > .row > * {
      margin: .25rem;
    }

    .code-show {
      display: block;
    }
    
  </style>
</head>
<body>
  {% block body %}{% endblock %}
  <script src="./js/app.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>