<style>
.nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 10px;
    margin-bottom: 10px;
}
.btn-nav{
    padding: .5rem 1rem;
    background: #DEDEDE;
    font-size: 12px;
    border-radius: 4px;
    margin: .5rem;
    text-decoration: none !important;
}
</style>
<div class="nav">
    <a class="btn-nav" href="index.html">Overzicht</a>
    <a class="btn-nav" href="typography.html">Typography</a>
    <a class="btn-nav" href="grid.html">Grid</a>
    <a class="btn-nav" href="colors.html">Colors</a>
    <a class="btn-nav" href="icons.html">Icons</a>
    <a class="btn-nav" href="components.html">Components</a>
    <a class="btn-nav" href="library.html">Code Library</a>
    <a class="btn-nav" href="start.html">Flow</a>
</div>
 