<style>
.nav {
   position: fixed;
   width: 200px;
   height: 100%;
   background: #FFF;
   padding: 0;
   overflow-y: auto;
}
.btn-nav{
    padding: 1rem 2rem;
    font-size: .85rem;
    text-decoration: none !important;
    display: block;
    transition: background .15s ease-in-out;
}
.btn-nav:hover {
    background: #EDF0F7;
}
.active {
    font-weight: 700;
}
body > header,
body > section {
    margin-left: 200px;
}
</style>
<nav class="nav">
    
    <div class="text-align--center py-3 font-weight--600 color_grey-dark">Navigatie</div>
    {% if active %}
    <a class="btn-nav font-weight--200" href="index.html"> &lt; Naar overzicht</a>
    {% endif %}
    <a class="btn-nav {% if active == 'grid'%} active{% endif %}" href="grid.html">Grid</a>
    <a class="btn-nav {% if active == 'util'%} active{% endif %}" href="utility-classes.html">Utility classes</a>
    <a class="btn-nav {% if active == 'typo'%} active{% endif %}" href="typography.html">Typography</a>
    <a class="btn-nav {% if active == 'colors'%} active{% endif %}" href="colors.html">Kleuren</a>
    <a class="btn-nav {% if active == 'icons'%} active{% endif %}" href="icons.html">Iconen</a>
    <a class="btn-nav {% if active == 'code'%} active{% endif %}" href="code-library.html">Code Library</a>
    <a class="btn-nav {% if active == 'form'%} active{% endif %}" href="start.html">Voorbeeld flow</a>
</nav>
 