$color_white: #fff;
$color_black: #000;

$color_primary: #ec5c0e;
$color_secondary: #87715E;
$color_tertiary: #2650C1;

$color_default-text: #161532;
$color_icons: #666666;
$color_tiny-text: #666666;
$color_valid: #008A00;
$color_warning: $color_primary;
$color_error: #DA1E27;
$color_disabled: #989898;

$color_border: #FCBC00;

$color_background-page: #F4F4F4;
$color_background-disabled: rgba($color_disabled, .12);