// COLORS
$color_white: #fff;
$color_black: #000;

$color_primary: #ec5c0e;
$color_secondary: #87715E;
$color_tertiary: #2650C1;
$color_link: $color_tertiary;
$color_link-hover: darken($color_link, 20%);

$color_default-text: #161532;
$color_icons: #666666;
$color_tiny-text: #666666;
$color_valid: #008A00;
$color_warning: #937100;
$color_error: #DA1E27;
$color_info: $color_tertiary;
$color_disabled: #646464;

$color_grey-dark: #333333;
$color_grey-medium: #989898;
$color_grey-light: #ccc;

$color_border-highlight: #FCBC00;
$color_border-table: #DEDEDE;
$color_border: rgba($color_default-text, .4);

$color_background-page: #F4F4F4;
$color_background-disabled: rgba($color_grey-medium, .2);
$color_background-default: #d5dcee;
$color_background-table-header: rgba(#A18B79, .1);

$color_background-message--valid: #F0F8F0;
$color_background-message--warning:#FDF0E2;
$color_background-message--info: #EDF0F7;
$color_background-message--error: #FFF7F7;

//////////////////////////////////////////////
// Text colors 
//////////////////////////////////////////////
.color_white {
    color: $color_white !important;
}
.color_black {
    color: $color_black !important;
}

.color_primary {
    color: $color_primary !important;
}
.color_secondary {
    color: $color_secondary !important;
}
.color_tertiary {
    color: $color_tertiary !important;
}

.color_default-text {
    color: $color_default-text !important;
}
.color_icons {
    color: $color_icons !important;
}
.color_tiny-text {
    color: $color_tiny-text !important;
}

.color_valid {
    color: $color_valid !important;
}
.color_warning {
    color: $color_warning!important;
}
.color_error {
    color: $color_error !important;
}
.color_info {
    color: $color_info !important;
}
.color_disabled {
    color: $color_disabled !important;
}

.color_grey-dark{
    color: $color_grey-dark;
}
.color_grey-medium{
    color: $color_grey-medium;
}
.color_grey-light{
    color: $color_grey-light;
}

//////////////////////////////////////////////
// Text colors 
//////////////////////////////////////////////

.color_background-page {
    background-color: $color_background-page;
}
.color_background-disabled{
    background-color: rgba($color_grey-medium, .2);
}
.color_background-default {
    background-color: $color_background-default
}
.color_background-table-header {
    background-color: rgba(#A18B79, .1);
}

.color_background-message--valid {
    background-color: $color_background-message--valid;
}
.color_background-message--warning {
    background-color: $color_background-message--warning;
}
.color_background-message--info {
    background-color: $color_background-message--info;
}
.color_background-message--error {
    background-color: $color_background-message--error;
}
